.chart {
  padding: 20px 0;
}
  .chart header {
    font-size: 18px;
    margin-bottom: 1em;
  }

#chart-country-data {
  border-bottom: 1px solid #D1D2D4;
}

.chart-graphic text {
  fill: white;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  text-anchor: end;
}

.pie-chart-key {
  display: flex;
  flex-wrap: wrap;
}
  .pie-chart-key p {
    font-size: 16px;
    flex-basis: 50%;
    margin: 0.5em 0;
  }
  .pie-chart-key p:nth-child(2n) {
    text-align: right;
  }
  .pie-chart-key span {
    font-size: 0.66em;
    font-weight: 700;
  }
